.ca-canvas > div > div {
  height: 100%;
  display: inline-block;
}
.ca-canvas > div > div[state="0"] {
  background-color: #eeeeee;
}
.ca-canvas > div > div[state="1"] {
  background-color: #333333;
}
