@charset "utf-8";


body
{
	padding-top: 71px !important;
	padding-bottom: 0 !important;
	background: #333333;
}

.row > div {
	background: #e5e5e5;
	border: 1px solid #ccc;
}

#col-sandbox
{
	padding-top: 10px;
	padding-bottom: 70%;

	#sandbox
	{
		position: absolute;
		top: 10px;
		left: 0;
		bottom: 0;
		right: 0;
		height: auto !important;
		width: auto !important;
		text-align: center;

		canvas
		{
			display: inline-block;
			cursor: crosshair;
		}
	}
}


#col-control
{
	background: #e5e5e5;
	padding: 10px;
}